# Django
SECRET_KEY='=ug_ucl@yi6^mrcjyz%(u0%&g2adt#bz3@yos%#@*t#t!ypx=a'
REDIS_LOCATION=redis://localhost:6379
ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.django.local

#DB
DATABASE_URL=postgresql://astek_user:asktek_123@localhost:5432/astek_technical_task
POSTGRES_USER='astek_user'
POSTGRES_PASSWORD='asktek_123'
POSTGRES_HOST='localhost'
POSTGRES_DB='astek_technical_task'
POSTGRS_PORT=5432